@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  @font-face {
    font-family: "lostar";
    font-display: swap;
    font-weight: normal;
    src: url("/fonts/Lostar.woff2");
  }
}

.tech-icon {
  @apply w-12 h-12 text-gray-900;
}
